<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="media.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <title>VIRTUAL PET CARE PLATFORM</title>
</head>

<body>
    <header>
        <nav>
            <h4 class="font">Purrfect Home</h4>
            <ul id="menu_bx">
                <li><a href="#">Coummunity</a></li>
                <li><a href="#">About US</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
            <i class="bi bi-three-dots"></i>
        </nav>
        <div class="content">
            <div class="cont_bx">
                <h1 class="text-light">The right desitination for your pet</h1>
                <p class="font text-light">Find the Purfffect Temporary Home for Your Pet- Safe, Caring, and Affordable!</p>
                <p class="font text-light fw-bold">WHERE TAILS WAG AND HEARTS PURR</p>
                <button class="fw-bold">Start your search</button>
            </div>
            <div class="trip_bx">
                <div class="search_bx">
                    <div class="card">
                        <h4>Location <i class="bi bi-caret-down-fill"></i></h4>
                        <input type="text" placeholder="Enter your Area">
                    </div>
                    <div class="card">
                        <h4>Date <i class="bi bi-caret-down-fill"></i></h4>
                        <input type="date">
                    </div>
                    <div class="card">
                        <h4>Pet <i class="bi bi-caret-down-fill"></i></h4>
                        <input type="number" placeholder="How many Pet?">
                    </div>
                    <input type="button" value="Explore Now">
                </div>
                <div class="travel_bx">
                    <h4 class="fw-bold fs-1">Available Area</h4>
                    <div class="cards ms-0">
                        <div class="container  ">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 mb-3 ">
                                    <div class="card ">
                                        <h3 class="px-2  fs-4 fw-bold mb-1">Dhaka<img
                                                src="icon/bangladesh-flag-png-xl.png" class="mt-1 card-img-textbeside"
                                                alt=""></h3>
                                        <img src="img/71HBNA3HZrL.AC_UF1000,1000_QL80.jpg" class="" alt="">
                                        <div class="btn_city ">
                                            <a href="" class="mt-6">Read Now</a>
                                            <div>
                                                <h5 class="mt-2 g-1 fw-bold">Jurain <br> <span>$0.2k-$10k</span></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-4 mb-3 ">
                                    <div class="card ">
                                        <h3 class="px-2  fs-4 fw-bold mb-1">Cumilla<img
                                                src="icon/bangladesh-flag-png-xl.png" class="mt-1 card-img-textbeside"
                                                alt=""></h3>
                                        <img src="img/3024.webp" class="  d-flex img-fluid" alt="">
                                        <div class="btn_city ">
                                            <a href="" class="mt-6">Read Now</a>
                                            <div>
                                                <h5 class="mt-2 g-1 fw-bold">Laxmipur <br> <span>$0.1k-$4k</span></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-3 col-md-4 mb-3 ">
                                    <div class="card ">
                                        <h3 class="px-2  fs-4 fw-bold mb-1">Khulna<img
                                                src="icon/bangladesh-flag-png-xl.png" class="mt-1 card-img-textbeside"
                                                alt=""></h3>
                                        <img src="img/61PPcXajbJL.jpg" class="" alt="">
                                        <div class="btn_city ">
                                            <a href="" class="mt-6">Read Now</a>
                                            <div>
                                                <h5 class="mt-2 g-1 fw-bold">Bagerhat <br> <span>$0.3k-$13k</span></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="col-lg-3 col-md-4 mb-3 ">
                                    <div class="card ">
                                        <h3 class="px-2  fs-4 fw-bold mb-1">Dhaka<img
                                                src="icon/bangladesh-flag-png-xl.png" class="mt-1 card-img-textbeside"
                                                alt=""></h3>
                                        <img src="img/71AGoJilgFL.jpg" class="" alt="">
                                        <div class="btn_city ">
                                            <a href="" class="mt-6">Read Now</a>
                                            <div>
                                                <h5 class="mt-2 g-1 fw-bold">Mirpur <br> <span>$0.5k-$4k</span></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="col-lg-3 col-md-4 mb-3 ">
                                    <div class="card ">
                                        <h3 class="px-2  fs-4 fw-bold mb-1">Sylhet<img
                                                src="icon/bangladesh-flag-png-xl.png" class="mt-1 card-img-textbeside"
                                                alt=""></h3>
                                        <img src="img/1000063545-1734706860.jpg" class="" alt="">
                                        <div class="btn_city ">
                                            <a href="" class="mt-6">Read Now</a>
                                            <div>
                                                <h5 class="mt-2 g-1 fw-bold">Srimangal <br> <span>$0.3k-$1k</span></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-3 col-md-4 mb-3 ">
                                    <div class="card ">
                                        <h3 class="px-2  fs-4 fw-bold mb-1">Dhaka<img
                                                src="icon/bangladesh-flag-png-xl.png" class="mt-1 card-img-textbeside"
                                                alt=""></h3>
                                        <img src="img/ef077bc4-1218-48c5-aa9d-31249a543ecd.jpg" class="" alt="">
                                        <div class="btn_city ">
                                            <a href="" class="mt-6">Read Now</a>
                                            <div>
                                                <h5 class="mt-2 g-1 fw-bold">Kurmitola<br> <span>$0.2k-$10k</span></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-3 col-md-4 mb-3 ">
                                    <div class="card ">
                                        <h3 class="px-2  fs-4 fw-bold mb-1">Dhaka<img
                                                src="icon/bangladesh-flag-png-xl.png" class="mt-1 card-img-textbeside"
                                                alt=""></h3>
                                        <img src="img/images (2).jpg" class="" alt="">
                                        <div class="btn_city ">
                                            <a href="" class="mt-6">Read Now</a>
                                            <div>
                                                <h5 class="mt-2 g-1 fw-bold">Dhanmondi<br> <span>$0.5k-$50k</span></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-3 col-md-4 mb-3 ">
                                    <div class="card ">
                                        <h3 class="px-2  fs-4 fw-bold mb-1">Dhaka<img
                                                src="icon/bangladesh-flag-png-xl.png" class="mt-1 card-img-textbeside"
                                                alt=""></h3>
                                        <img src="img/photo-1628783592539-cef32fec57e8.avif" class="" alt="">
                                        <div class="btn_city ">
                                            <a href="" class="mt-6">Read Now</a>
                                            <div>
                                                <h5 class="mt-2 g-1 fw-bold"> Gazipur <br> <span>$0.2k-$10k</span></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-3 col-md-4 mb-3 ">
                                    <div class="card ">
                                        <h3 class="px-2  fs-4 fw-bold mb-1">Chittagang<img
                                                src="icon/bangladesh-flag-png-xl.png" class="mt-1 card-img-textbeside"
                                                alt=""></h3>
                                        <img src="img/photo-1648999636820-cb6182e58fd5.avif" class="img-fluid" alt="">
                                        <div class="btn_city ">
                                            <a href="" class="mt-6">Read Now</a>
                                            <div>
                                                <h5 class="mt-2 g-1 fw-bold">New Market <br> <span>$0.2k-$10k</span></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-3 col-md-4 mb-3 ">
                                    <div class="card ">
                                        <h3 class="px-2  fs-4 fw-bold mb-1">Dhaka<img
                                                src="icon/bangladesh-flag-png-xl.png" class="mt-1 card-img-textbeside"
                                                alt=""></h3>
                                        <img src="img/photo-1697041120273-dadd0466a696.avif" class="" alt="">
                                        <div class="btn_city ">
                                            <a href="" class="mt-6">Read Now</a>
                                            <div>
                                                <h5 class="mt-2 g-1 fw-bold"> Badda <br> <span>$0.2k-$10k</span></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-3 col-md-4 mb-3 ">
                                    <div class="card ">
                                        <h3 class="px-2  fs-4 fw-bold mb-1">Dhaka<img
                                                src="icon/bangladesh-flag-png-xl.png" class="mt-1 card-img-textbeside"
                                                alt=""></h3>
                                        <img src="img/photo-1664176062054-715f89b1974b.avif" class="img-fluid" alt="">
                                        <div class="btn_city ">
                                            <a href="" class="mt-6">Read Now</a>
                                            <div>
                                                <h5 class="mt-2 g-1 fw-bold"> Nikunjo<br> <span>$0.2k-$10k</span></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-4 mb-3 ">
                                    <div class="card ">
                                        <h3 class="px-2  fs-4 fw-bold mb-1">Dhaka<img
                                                src="icon/bangladesh-flag-png-xl.png" class="mt-1 card-img-textbeside"
                                                alt=""></h3>
                                        <img src="img/photo-1697041120273-dadd0466a696.avif" class="" alt="">
                                        <div class="btn_city ">
                                            <a href="" class="mt-6">Read Now</a>
                                            <div>
                                                <h5 class="mt-2 g-1 fw-bold">Uttara <br> <span>$0.2k-$10k</span></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="offers ">
        <h1 class="mt-5 fw-bold fs-1">Purrfect Home of Your Pet</h1>
        <p class="fw-bold font">choose your pet's Purrfect Home</p>
        <div class="cards">
            <div class="card">
                <h3 class="fw-bold">Tasnimul's Pet house</h3>
                <div class="img_text">
                    <img src="img/images (1).jpg" alt="">
                    <h4 class="bg-dark">Inclded: Food, Shalter, Medicine, Care, Pet food</h4>
                </div>
                <div class="cont_bx">
                    <div class="price">
                        <div class="heart_chat">
                            <i class="bi bi-heart-fill"><span>86415</span></i>
                            <i class="bi bi-chat-fill"><span>4586</span></i>
                        </div>
                        <div class="info_price">
                            <a href="">More Info</a>
                            <h4>$0.2-$10</h4>
                        </div>
                    </div>
                    <div class="dayes">5 Days <br> Mirpur</div>
                </div>
            </div>
            <div class="card">
                <h3>Tuli's Pet</h3>
                <div class="img_text">
                    <img src="./img/photo-1664176062054-715f89b1974b.avif" alt="">
                    <h4 class="bg-dark"> Inclded: Food, Shalter, Medicine, Care, Pet food</h4>
                </div>
                <div class="cont_bx">
                    <div class="price">
                        <div class="heart_chat">
                            <i class="bi bi-heart-fill"><span>86415</span></i>
                            <i class="bi bi-chat-fill"><span>4586</span></i>
                        </div>
                        <div class="info_price">
                            <a href="">More Info</a>
                            <h4>$00-$01</h4>
                        </div>
                    </div>
                    <div class="dayes">5 Days <br>Badda</div>
                </div>
            </div>
            <div class="card">
                <h3>Biplob's Pet house</h3>
                <div class="img_text">
                    <img src="img/images.jpg" alt="">
                    <h4> Inclded: Food, Shalter, Medicine, Care, Pet food</h4>
                </div>
                <div class="cont_bx">
                    <div class="price">
                        <div class="heart_chat">
                            <i class="bi bi-heart-fill"><span>86415</span></i>
                            <i class="bi bi-chat-fill"><span>4586</span></i>
                        </div>
                        <div class="info_price">
                            <a href="">More Info</a>
                            <h4>$2-$10</h4>
                        </div>
                    </div>
                    <div class="dayes">7 Days <br> Uttara</div>
                </div>
            </div>
            <div class="card">
                <h3>Zinia's Pet house</h3>
                <div class="img_text">
                    <img src="img/a369de535f98857ff6c8940b964229e4.webp" alt="">
                    <h4 class="text-bg-dark">Inclded: Food, Shalter, Medicine, Care, Pet food</h4>
                </div>
                <div class="cont_bx">
                    <div class="price">
                        <div class="heart_chat">
                            <i class="bi bi-heart-fill"><span>86415</span></i>
                            <i class="bi bi-chat-fill"><span>4586</span></i>
                        </div>
                        <div class="info_price">
                            <a href="">More Info</a>
                            <h4>$2648</h4>
                        </div>
                    </div>
                    <div class="dayes">7 Days <br> Rajshahi</div>
                </div>
            </div>
        </div>
    </div>
    <div class="destination">
        <div class="des_bx ">
            <h2 class="fs-1 fw-bold font ">Your Pet's Second Home</h2>
            <p class="fw-bold font-monospace">choose your Pet's Purrfect Home</p>
            <li class="font">Dhaka</li>
            <li  class="font"> Sylhet</li>
            <li   class="font">Rajshahi</li>
            <li   class="font">Khulna</li>
            <li   class="font">Chittagang</li>
            <li   class="font">Barishal</li>
            <h6   class="font">Included: Air ticket, Hotel, Breakfast, Tours, Airport transfer</h6>
            <button>MORE INFO</button>
        </div>
        <div class="img_bx">
            <img src="./img/hero.jpg" alt="">
            <div class="msg">
                <img src="icon/bangladesh-flag-png-xl.png" alt="">
                <div class="cont">
                    <h4>Bangladesh</h4>
                    <div class="icon d-flex">
                        <i class="bi bi-heart-fill"><span>86415</span></i>
                        <i class="bi bi-chat-fill"><span>4586</span></i>
                    </div>
                </div>
            </div>
            <div class="msg">
                <img src="icon/bangladesh-flag-png-xl.png d-flex " alt="">
                <div class="cont">
                    <h4>Dhaka</h4>
                    <div class="icon">
                        <i class="bi bi-heart-fill"><span>86415</span></i>
                        <i class="bi bi-chat-fill"><span>4586</span></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <h2>Subscribe & <br> get special discount</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt neque animi .</p>
        <div class="input">
            <input type="text" placeholder="Enter your Email Address">
            <button>Subscribe</button>
        </div>
        <ul>
            <li> 2 <br>
                <h6>Years Serving the Purrfect home </h6>
            </li>
            <li>6374 <br>
                <h6>Global <br> Patnership</h6>
            </li>
            <li>1496 <br>
                <h6> Awards since 2022</h6>
            </li>
            <li>5658 <br>
                <h6>Subscribe</h6>
            </li>
        </ul>
    </footer>
    <script src="app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>

</html>