<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div class="container">
        <h2>Forget Password??</h2>
        <from action="/forgetpass" method="POST">
            <p><b>TRY TO REMEMBER!</b></p>
            <button type="submit">GO BACK</button>
        </from>
       
    </div>
</body>
</html>