<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form action="/login" method="POST">
            <input type="email" name="email" id="email" placeholder="Email" autocomplete="off" required>
            <input type="password" name="password" id-="password" placeholder="Password" autocomplete="off"required>
            <br><button type="submit">Login</button>
        </form>
        <br>
        <p>Don't have an account? <a href="/register">Register here</a></p>
        <p>Forget Password? <a href="/forgetpass">Click here</a></p>
    </div>
    
</body>
</html>